
<div class="admin row">
<div class="col-lg-2" id="side-nav">

<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar navbar-collapse collapse">
    <ul class="nav">
    
     <li>
    <%= link_to "Roles", change_role_path %>
  </li>
    <li>  <%= link_to "Tag Mentor", tag_mentor_path %></li>

  <li>

    <%= link_to "Mentees Updates", mentees_updates_path %>
  </li>
 
</ul>
</div>
</div>
</div>

<div class="col-lg-10">
  
<h3>List of Users</h3>
<hr/>
<table id="users" class="table table-striped">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Mobile No.</th>
            <th>Technology</th>
            <th>Card No.</th>
            <th>Location</th>
            <th>Current Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
       
    	<tr>
    	  <td><%= user.emp_id %></td>
    	  <td><%= user.name %></td>
		    <td><%= user.email %></td>
		    <td><%= user.phn_no %></td>
		    <td><%= user.technology %></td>
		    <td><%= user.card_no %></td>
		    <td><%= user.location %></td>
		    <td><%= user.roles[0].name unless user.roles.empty? %></td>
            
  		  <td><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), destroy_user_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm'%></td>  
          
      </tr>
	<% end %>
    </tbody>
</table>
<h2>Import Users</h2>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>
</div>
