Admin home page

<%= current_user.email %>

<div>
    <%= link_to "tag mentor", tag_mentor_path %>
</div>

<div>
    <%= link_to "view mentees updates", mentees_updates_path %>
</div>

<div>
<h1>List of Users</h1>
<table id="users" class="table table-striped">
    <thead>
        <tr>
            <th style="width:5%;"></th>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Mobile No.</th>
            <th>Technology</th>
            <th>Card No.</th>
            <th>Location</th>
            <th>Current Role</th>
            <th>Select Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <%= form_tag edit_role_path do %>
    	<tr>
    	  <td></td>
    	  <td><%= user.emp_id %></td>
    	  <td><%= user.name %></td>
		  <td><%= user.email %></td>
		  <td><%= user.phn_no %></td>
		  <td><%= user.technology %></td>
		  <td><%= user.card_no %></td>
		  <td><%= user.location %></td>
		  <td>

            <%= user.roles[0].name unless user.roles.empty? %>
          </td>
          <%= hidden_field_tag 'user_id', user.id %>
          <td><%= select_tag "role_id", options_from_collection_for_select(@roles, 'id', 'name') %></td>
          <td><%= submit_tag "Save" %></td>
  		</tr>
        <% end %>
	<% end %>
    </tbody>
</table>
</div>

<h2>Import Users</h2>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>