<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:5%;"></th>
            <th>Email</th>
            <th>Current Mentors</th>
            <th>Select Mentors</th>
            <th></th>
        </tr>
    </thead>
    <% @users.each do |user|%>
    	<%= form_tag tag_mentor_path do %>
    	<tr>
    	  <td></td>
          <td><%= user.email %></td>
    	  <td><%= user.mentors.first.email unless user.mentors.empty?%></td>
    	      <%= hidden_field_tag 'mentee_id', user.id %>
    	  


          <td><input type="text" list="mentors" name="email" ></td>
        
          


          
    	  <td><%= submit_tag "Save" %></td>
    	</tr>
    	<% end %>
    <% end %>
</table>
<datalist id="mentors">
<% @users.each do |user| %>
<option value="<%= user.email %>" ></option>
<% end %>
</datalist>