<div class="admin tag-mentor row">
<div class="col-lg-2" id="side-nav">

<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar navbar-collapse collapse">
    <ul class="nav">
    
    <li>
    <%= link_to "Roles", change_role_path %>
  </li>
    <li class="active">  <%= link_to "Tag Mentor", tag_mentor_path %></li>

  <li>

    <%= link_to "Mentees Updates", mentees_updates_path %>
  </li>
</ul>
</div>
</div>
</div>
<div class="col-lg-10">
    <h3>List of New Joinees</h3>
    <hr/>
<table id= "users" class="table table-striped">
    <thead>
        <tr>
            <th style="width:5%;"></th>
            <th>Email</th>
            <th>Current Mentors</th>
            <th>Select Mentors</th>
            <th></th>
        </tr>
    </thead>
    <% @users.each do |user|%>
    	<%= form_tag tag_mentor_path do %>
    	<tr>
    	  <td></td>
          <td><%= user.email %></td>
    	  <td><%= user.mentors.first.email unless user.mentors.empty?%></td>
    	      <%= hidden_field_tag 'mentee_id', user.id %>
    	  


          <td><input type="text" list="mentors" name="email" ></td>
        
          


          
    	  <td><%= submit_tag "Save" %></td>
    	</tr>
    	<% end %>
    <% end %>
</table>
<datalist id="mentors">
<% @users.each do |user| %>
<option value="<%= user.email %>" ></option>
<% end %>
</datalist>
</div>
</div>