<h1>Updates -</h1>
<% @previous_updates.each do |update| %>
<div class="post">
  <div class="user">
       User <%= update.user_id %>
  </div>
  <div class="update">
      <%= update.content %>
  </div>
      <div class="time"> 
        <%= time_ago_in_words(update.created_at) %>
      </div>
</br>
 
        <% unless update.comments.empty? %>
           <% update.comments.sort.each do |comment| %>
             <div class="comment-area">
               <div class="user"> 
                 User <%= comment.user_id%>
              </div>
              
               <%= comment.content %>
               
               <div class="text-muted">
                 <%= time_ago_in_words(comment.created_at)%>
               </div>
             </div>
             <div class="hr"><hr/></div>
           <% end %>
        <% end %>
 </br>


<div class="comment_form">
            <%= form_for(@comment, url: create_comment_path) do |f| %>
            <%= hidden_field_tag 'update_id', update.id %>   
            <%= f.label 'Add Comment'%>
            <%= f.text_area :content %>
            
            <%= f.submit "Add", class: "btn btn-small" %>
            </br>
            <% end %>
 </div>           
<% end %>
</div>