<div class="mentor row">
	<div class="col-lg-2">
		<%= image_tag current_user.avatar.url(:thumb), class: 'img-rounded' %>
	</div>
    <div class="col-lg-10">

		<h3>Your mentees</h3>
        
		<ul class="nav nav-tabs">
		  <% current_user.mentees.each do |mentee| %>
		  <li>
		    <a href="#<%= mentee.id %>" data-toggle="tab"><%= mentee.name %></a>
		  </li>
		  <% end %>
		</ul>

		<div class="tab-content">
		<% current_user.mentees.each do |mentee| %>
		 
		 
		  <div class="tab-pane updates_mentee" id="<%= mentee.id %>">
		    <% @previous_updates = mentee.updates  %>  
		    <%= render 'updates/previous_updates' %>
		  </div>  
         
		<% end %>
		</div>
	</div>
</div>